
/*-------- Navbarhome ----------*/

#navbarhomescreen{
  position: relative;
  bottom: 50px;
  z-index: 100;
}

.navigationlinks{
  color:white;
  text-decoration: none;
}

.navigationlinks:hover{
  color:white;
  text-decoration: none;
}

#navbarlogo {
  width: 100px;
}

.loginbutton{
  background-color: transparent;
  border-color: white;
  box-shadow: none;
  color:white;
}

.logoutbutton{
  background-color: transparent;
  border-color: white;
  box-shadow: none;
  color:white;
}

.navbutton:hover {
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#navbarlogo:hover{
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

/*-------- Jumbotronhome ----------*/
#homejumbo{
  height: 100vh;
  background: linear-gradient(rgba(18, 18, 18, 0.9), rgba(21, 21, 21, 0.9)), url('https://cdntdreditorials.azureedge.net/cache/f/a/4/1/8/d/fa418da0f9291759fadfd7880dc85062644896f3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Oswald', sans-serif;
  color: #FCFFFC;
  border-bottom: 4px solid #2ba84a;
  border-top: 4px solid #2ba84a;
  margin-bottom: 0;
}

#jumbotext{
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-------- Gettingstarted ----------*/
.GStitle{
  text-align: center;
  color: #040f0f;
  padding: 50px;
  border-top: 2px solid #2ba84a;
}

.why{
  text-align: center;
  color: #040f0f;
  padding: 30px;
}
.gettingstarted{
  background-color:#e9ecef;
  margin-top: 0;
}

.signupicon {
  color:#248232;
}

.boxicon {
  color:#248232;
}

.truckicon {
  color:#248232;
}

.whatis{
  font-size: 20px;
}
/*-------- Truckhome ----------*/
.dollaricon{
  color:white;
}
.makemoney{
  background-color: #2ba84a;
  padding: 25px;
}

.sevenfifty{
  color: white;
  font-size: 20px;
  position: relative;
  top:10px;
}
.trucktitle{
  text-align: center !important;
  margin-top: 35px;
}

.benefits{
  font-weight: bold;
  color: #248232;
}

.greenappliances{
  height: 408px;
  width: 360px;
  margin: auto;
}

.joincontainer{
  text-align: center;

}

.join{
  font-weight: bold;
}

.joing{
  font-weight: bold;
  color: #248232;
}

.driverinfo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  padding-right: 60px;
  padding-left: 60px;
}

.lighticons{
  color: #56a96b;
  display: inline;
}

.perks{
  padding:0px;
  margin: 0px;
}

.v1{
  border-left: 4px solid #e9ecef;;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 75px;
}
/*-------- Reviews ----------*/
.reviewscontainer{
  background-color: #e9ecef;
}
.reviewcard {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 30px;
  height: 170px;
  border: none;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 27%, rgba(233,236,239,1) 98%);
}
.commenticon{
  position: relative;
  bottom: 15px;
  right: -33px;
  color: #248232;
}
.name{
  font-size: 30px;
  position: relative;
  margin-left: 35px;
  bottom: 20px;
  right: -33px;
}

.starscontainer{
  font-size: 20px;
  position: relative;
  margin-left: 35px;
  bottom: 22px;
  right: -33px;
  color: #2ba84a;
}

.driverimage{
  height: 230px;
  width: 230px;
  margin: auto;opacity: 0.85;
}

.drivercard{
  width: 250px !important;
  padding-top: 50px;
  border: none;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 27%, rgba(233,236,239,1) 98%);
}

.drivercardgroup{
  margin-bottom: 50px;
}

/*-------- Footer ----------*/
.copyright {
  height: 40px;
  text-align: center;
  background-color: #248232;
  color: white;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 40px;
}

.footertext{
   position: relative;
   bottom: -5px;
}

.interested{
   height: 200px;
   background-color: #2ba84a;
}

/*-------- Post Pickup ----------*/
.postpickupscontainer{
  background-color: white;
}
.formscontainer{
  border-top: #2b2b2b solid 150px;
  position: relative;
  bottom: 60px;
  margin-top: -140px;
  margin-bottom: 40px;
}

hr { 
  display: block; height: 1px;
  border: 0; border-top: 2px solid #2ba84a;
  margin: 1em 0; padding: 0; 
}

.allforms{
  position: relative;
  top:40px;
}
.horizontalline{
  border-top: 6px solid green;
  width: 100%;
  position: absolute;
  top:145px;
}

.postpickupsubmitbutton{
  background-color: #2b2b2b;
  border-color: white;
  box-shadow: none;
  color:white;
  padding:6px;
  width: 100px;
}

/*-------- Available Jobs ----------*/
.availablejobcard{
  margin-bottom: 50px;
  border: #248232 1px solid;
}

.darkcardheader{
  background-color:white;
  color: #2b2b2b;
}

.payoutbadge{
  background-color: #2ba84a;
}

.claimbutton{
  background-color: #2ba84a;
  border: 1px #2b2b2b solid;
}

.claimbutton:hover{
  background-color: #248232;
  border: 1px #2b2b2b solid;
}

.availablejobscontainer{
  border-top: #2b2b2b solid 150px;
  position: relative;
  bottom: 60px;
  margin-top: -140px;
  margin-bottom: 40px;
}
/*-------- Current Jobs ----------*/
.currentjobscontainer{
  border-top: #2b2b2b solid 150px;
  position: relative;
  bottom: 60px;
  margin-top: -140px;
  margin-bottom: 40px;
}

.cancelbutton{
  width: 176px;
  background-color: rgb(169, 0, 0);
  border: 1px #2b2b2b solid;
}

.cancelbutton:hover{
  width: 176px;
  background-color: rgb(114, 3, 3);
  border: 1px #2b2b2b solid;
}

.completedbutton{
  width: 190px;
  background-color: #2ba84a;
  border: 1px #2b2b2b solid;
}

.completedbutton:hover{
  width: 190px;
  background-color: #248232;
  border: 1px #2b2b2b solid;
}
/*-------- 404 error page ----------*/
.errorcontainer{
  background: rgb(116,226,192);
  background: radial-gradient(circle, rgba(116,226,192,1) 43%, rgba(36,130,50,1) 100%);
  height: 100vh;
  width: 100vw;
}

.errormessage{
  height: 90%;
  width: 90%;
  background-color: white;
  border-radius: 25px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 10px 10px #3f3f3f; 
}

.errorimage{
  width: 320px;
  height: 320px;
  margin:auto;
}

.fourohfour{
  font-weight: bold;
  font-size: 68px;
  position: relative;
  top: 125px;
  right: 90px;
}

.sorry{
  position: relative;
  bottom: 88px;
}

.sorrybutton{
  color: yellow;
  font-size: 26px;
}
.sorrybutton:hover{
  color: yellow;
}
/*-------- Global ----------*/
.emptydiv{
  height: 70px;   
}

.App{
  font-family: 'Oswald', sans-serif;
}

.truckbutton{
  color: rgb(40, 40, 40) !important; 
  text-decoration: none;
}
.truckbutton:hover a{
  color: white !important; 
  text-decoration: none;
}

@media only screen and (max-width: 503px) {
  .emptydiv { 
    height:40px ;
  }
}
@media only screen and (max-width: 386px) {
  .emptydiv { 
    height:20px ;
  }
}